<!DOCTYPE html><!--[if lt IE 7]>
  <html class="lt-ie9 lt-ie8 lt-ie7" lang="en">
  <![endif]--><!--[if IE 7]>
  <html class="lt-ie9 lt-ie8" lang="en">
  <![endif]--><!--[if IE 8]>
  <html class="lt-ie9" lang="en">
  <![endif]--><!--[if gt IE 8]>
    <!-->
    <html lang="en">
    <!--
  <![endif]-->
    <title>LOCAL ::: Batelier-Records ConcertManager BackOffice :::</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link href="{{ asset('css/bootstrap-colorpicker.min.css') }}" rel="stylesheet" media="screen">


    <link href="{{ asset('icomoon/style.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
<link href="{{ asset('css/main.css') }}" rel="stylesheet" media="screen">
    <!--[if lte IE 7]>
    <script src="css/icomoon-font/lte-ie7.js"></script>
    <![endif]-->



    <link href="{{ asset('css/fullcalendar.css') }}" rel="stylesheet" media="screen">
<!--
    <link href="{{ asset('css/select2.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/bootstrap_form_2.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/bootstrap_form_4.css') }}" rel="stylesheet" media="screen">
-->



    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>
<body>
  <header>
    <a href="{{ path('homepage') }}" class="logo">Battelier Records</a>
    <!--
    <div id="mini-nav">
      <ul class="hidden-phone">
        <li><a href="timeline.html" >Tasks</a></li>
        <li><a href="#">Signup's <span id="newSignup">06</span></a></li>
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            Messages <span id="messagesCountDown">21</span>
            <b class="caret icon-white"></b>
          </a>
          <ul class="dropdown-menu pull-right">
            <li class="quick-messages">
              <img src="img/avatar-1.png" class="avatar" alt="Avatar">
              <div class="message-date text-info">
                <i>02 <span class="month">mins</span></i>
              </div>
              <div class="message-wrapper">
                <h4 class="message-heading">Ubiquitous customized</h4>
                <p class="message">
                  Enable impactful niches engage impactful
                </p>
              </div>
            </li>
            <li class="quick-messages">
              <img src="img/avatar-2.png" class="avatar" alt="Avatar">
              <div class="message-date text-info">
                <i>02 <span class="month">mins</span></i>
              </div>
              <div class="message-wrapper">
                <h4 class="message-heading">Ubiquitous customized</h4>
                <p class="message">
                  Enable impactful niches engage impactful
                </p>
              </div>
            </li>
            <li class="quick-messages">
              <img src="img/avatar-5.png" class="avatar" alt="Avatar">
              <div class="message-date text-info">
                <i>38 <span class="month">mins</span></i>
              </div>
              <div class="message-wrapper">
                <h4 class="message-heading">Ubiquitous customized</h4>
                <p class="message">
                  Enable impactful niches engage impactful
                </p>
              </div>
            </li>
            <li class="quick-messages">
              <img src="img/avatar-4.png" class="avatar" alt="Avatar">
              <div class="message-date text-info">
                <i>27 <span class="month">Apr</span></i>
              </div>
              <div class="message-wrapper">
                <h4 class="message-heading">Ubiquitous customized</h4>
                <p class="message">
                  Enable impactful niches engage impactful
                </p>
              </div>
            </li>
            <li class="quick-messages">
              <img src="img/avatar-6.png" class="avatar" alt="Avatar">
              <div class="message-date text-info">
                <i>18 <span class="month">Apr</span></i>
              </div>
              <div class="message-wrapper">
                <h4 class="message-heading">Ubiquitous customized</h4>
                <p class="message">
                  Enable impactful niches engage impactful
                </p>
              </div>
            </li>
          </ul>
        </li>
        <li><a href="login.html">Logout</a></li>
      </ul>
    </div>
  -->
  </header>

  <div class="container-fluid">
    <div id="mainnav" class="hidden-phone hidden-tablet">
      <ul>
        <li{% if app.request.get('_route') == 'homepage' %} class="active"{% endif %}>
          <span class="current-arrow"></span>
          <a href="{{ path('homepage') }}">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe0a1;"></span>
            </div>
            Dashboard
          </a>
        </li>
        <li{% if app.request.get('_route') == 'sequence' %} class="active"{% endif %}>
          <a href="{{ path('sequence') }}">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe047;"></span>
            </div>
            Sequences
          </a>
        </li>
        <li{% if app.request.get('_route') == 'event' %} class="active"{% endif %}>
          <a href="{{ path('event') }}">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe097;"></span>
            </div>
            Events
          </a>
        </li>
        <li{% if app.request.get('_route') == 'send' %} class="active"{% endif %}>
          <a href="{{ path('send') }}">
            <div class="icon">
              <span class="fs1" aria-hidden="true" data-icon="&#xe100;"></span>
            </div>
            Notifications
          </a>
        </li>
      </ul>
    </div>

    <div class="dashboard-wrapper">
      <div class="main-container">
        <div class="navbar hidden-desktop">
          <div class="navbar-inner">
            <div class="container">
              <a data-target=".navbar-responsive-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
              </a>
              <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                  <li{% if app.request.get('_route') == 'homepage' %} class="active"{% endif %}>
                    <span class="current-arrow"></span>
                    <a href="{{ path('homepage') }}">Dashboard</a>
                  </li>
                  <li{% if app.request.get('_route') == 'sequence' %} class="active"{% endif %}>
                    <a href="{{ path('sequence') }}">Sequences</a>
                  </li>
                  <li{% if app.request.get('_route') == 'event' %} class="active"{% endif %}>
                    <a href="{{ path('event') }}">Events</a>
                  </li>
                  <li{% if app.request.get('_route') == 'send' %} class="active"{% endif %}>
                    <a href="{{ path('send') }}">Notifications</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


    {% block body %}
    {% endblock %}


    </div>
  </div>

  <footer>
    <p class="copyright">&copy; Tunisian IT</p>
  </footer>

    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/bootstrap-colorpicker.min.js') }}"></script>
    <script src="{{ asset('js/fullcalendar.js') }}"></script>
    <script src="{{ asset('js/tiny-scrollbar.js') }}"></script>


    {% block javascripts %}

    {% endblock %}
    <script type="text/javascript">
    $(document).ready(function(){
      $("#appbundle_event_textcolor").colorpicker();
      $("#appbundle_event_bgcolor").colorpicker();
    });
    </script>


</body>
</html>
