{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <div class="row-fluid">
      <div class="span12">
        <div class="widget no-margin">
          <div class="widget-header">
            <div class="title">
              <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Events
            </div>
          </div>
          <div class="widget-body">
            <div id="dt_example" class="example_alt_pagination">
              <table class="table table-condensed table-striped table-hover table-bordered pull-left" id="data-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Text</th>
                <th>Textcolor</th>
                <th>Bgcolor</th>
                <th>Image</th>
                <th>Sound</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.label }}</td>
                <td>{{ entity.text }}</td>
                <td>{{ entity.textcolor }}</td>
                <td>{{ entity.bgcolor }}</td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.sound }}</td>
                <td>{{ entity.time }}</td>
                <td>
                    <a href="{{ path('event_edit', { 'id': entity.id }) }}" class="btn btn-info btn-small">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br >
<a href="{{ path('event_new') }}" class="btn btn-info pull-right">Ajouter nouveau évenement</a>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
